a:hover {
	text-decoration: none;
}

a:link {
	text-decoration: underline;
}

.header1 {
	font-size: 20pt;
	font-weight: bold;
}
.header2 {
	font-size: 18pt;
	font-weight: bold;
}
.header3 {
	font-size: 16pt;
	font-weight: bold;
}
